[2017-02-12 18:55] dlrueda opened #1 "Convert marc files in particular directory"
Convert a marc file to RDF that is placed in "Symphony" directory.

(Symphony scripts generate these files in a separate process.)

[2017-02-12 19:00] dlrueda commented on #1
RDF is stored in a file for review, with presumption to be loaded to triplestore.

[2017-02-12 19:03] dlrueda opened #2 "Load converted RDF file to triplestore"
File could be generated by our conversion of a marc file (single or multiple marc records), or a file of RDF data supplied by a vendor.

[2017-02-12 19:06] dlrueda opened #3 "Create discovery environment for RDF in triplestore"
Break this down.  Each should be it's own "use case," or tasks? Possibly:

Create new solr instance
Find/create mapping from RDF to solr
Run test Blacklight instance against this solr index (Jessie set up)
Run RDF files to index

[2017-02-12 19:08] dlrueda commented on #3
First step should be as basic as possible.  Will need evaluation from LD4P-Core group (metadata folks).

[2017-02-12 19:17] dlrueda opened #4 "Load file of RDF provided by vendor to triplestore"
Vendor will supply RDF data in a file.  Load to triplestore.

Perhaps a directory to place such files in, and have that directory watched, anything in it gets posted?  Should be separate directory for files we converted from Marc?

[2017-02-14 00:30] ndushay opened #5 "puppetize converter VM"
@eefahy has notes somewhere ...

[2017-02-14 00:31] ndushay opened #6 "puppetize blazegraph VM"
per notes @eefahy already has

[2017-02-14 00:33] ndushay opened #7 "deployment scheme for code to converter VM"
includes, ultimately:

- [ ] rdf -> blazegraph
- [x] marcxml -> rdf
- [x] marc21 -> marcxml
  - [x] authority lookups to symphony (currently part of previous step)

[2017-02-14 00:40] ndushay opened #8 "Solr instance(s) spun up for tracer bullet work"
For:

1.  SW index with 38K casalini records ONLY, but use SW production schema/config and SW rails app on top.  <-- only this for now.

2.  SW production look-alike, but we get the addl 38K casalini records which we put in from RDF (a copy of SW production index, less the casalini records from OLD way, plus casalini records from NEW way)

[2017-02-14 00:43] ndushay opened #9 "spin up SW app sandbox VM for tracerbullet"
(for casalini only at first)

[2017-02-14 00:53] ndushay opened #10 "explore SparqLight on top of Blazegraph"
Get a sense of

- [x] find Sparqlight (gregg kellogg, ben ...)
- [x] what would it take to connect SparqLight to Blazegraph
- [x] what can we do with SparqLight ?

[2017-02-14 00:58] ndushay opened #11 "proxy ticket: web archiving openwayback upgrade"

[2017-02-14 01:00] ndushay opened #12 "Create list of minimal (Sw) Solr fields to populate from RDF"
@jgreben  See https://consul.stanford.edu/display/DLSSDOCS/Minimum+Requirements+for+Non-MARC+Descriptive+Metadata+in+SearchWorks   for the bibframe properties.

Still need to translate those to Solr fields ...

[2017-02-14 01:26] ndushay opened #13 "Validator tests for LoC BF2 based on Stanford Metadata supplied examples"
Get guidance from ? Michelle ? on where to start, e.g. works?  instances?  persons?   particular marc fields?   titles?  some initial focal point.

[2017-02-14 03:27] darrenleeweber commented on #10
https://github.com/sul-dlss/sparqlight

[2017-02-14 03:30] darrenleeweber commented on #10
Sparqlight has some instructions for connecting to blazegraph at
- https://github.com/sul-dlss/sparqlight#running-on-blazegraph

[2017-02-15 05:09] eefahy commented on #6
See: http://sul-ld4p-blazegraph-dev.stanford.edu/blazegraph/#splash

Note: We are serving this up via http for now because the machine is in the non-routable zone and the port is only open to Stanford nets - You need to be on VPN to access the service

[2017-02-15 05:10] #6 closed

[2017-02-15 05:12] eefahy commented on #9
tracking ticket: https://github.com/sul-dlss/operations-tasks/issues/259

[2017-02-23 18:47] ndushay opened #14 "Does LoC bf2 create authorities as Real World Objects"
That is, not fake URIs ...

If the answer is no, then we will need to create ticket(s) to add a (standalone) processing step to transform our own authority URIs (from Symphony lookup) to RWO.

[2017-02-23 18:54] ndushay opened #15 "load all casalini RDF from bf1 converter into blazegraph on bg-dev"
- currently waiting for git repo with the scripts and deployment set up

We want a repeatable script we can run to do this.

[2017-02-23 18:59] ndushay opened #16 "investigate approaches for indexing from blazegraph into Solr"
We need to pick technologies/a process for getting bf:Instances and their associated info into Solr.

[2017-02-23 19:39] ndushay commented on #5
I'm closing this because I think it's done ...

[2017-02-23 19:39] #5 closed

[2017-02-24 03:31] ndushay commented on #7
closing this as the last piece is in progress and ticketed elsewhere.

[2017-02-24 03:31] #7 closed

[2017-02-27 23:38] ndushay commented on #16
*  https://github.com/ld4l/ld4l_browser_data  (esp https://github.com/ld4l/ld4l_browser_data/blob/master/lib/ld4l_browser_data/indexing/index_documents/instance_document.rb)

[2017-03-01 01:42] ndushay opened #17 "create marcxml-to-bf2 git repo"
like ld4p-marcxml-to-bibframe1, the goal is to

- have a working test script that can convert a test marcxml file into a test rdfxml file containing the results of running the marc2bibframe2 converter.
- can deploy to converter box with capistrano
- can run test script with capistrano

[2017-03-01 19:44] jgreben commented on #14
Example of how the new BF2 converter handles a bf:Agent:
[code]

The new converter currently constructs a tentative URI, and ultimately the conversion will construct a RWO URI for this person, but that part of the conversion isn’t ready yet, but it is their intent to create a URI to the RWO, not to the authority record. If we start using this new converter as-is, we may still need to do some URI r

[2017-03-02 02:18] ndushay opened #19 "index marc into sul-solr searchworks-rdf-dev"
We need to know if we can point solrmarc-sw at the Solr 6 index in sul-solr and have the marc data be indexed cleanly (or close to cleanly).

This is because we will need a combined index of all marc data from Symphony with casalini data indexed from blazegraph.

[2017-03-02 02:24] ndushay opened #20 "service to take a solr doc and add it to sul-solr index"
- needs to verify Solr responded that it went in
- needs to take a "collection" argument (which collection in sul-solr cluster)
- needs to be a cap deployable git repo
- is intended to be a step in our eventual pipeline framework
- is hoped to be reusable across projects that need to write to Solr

@eefahy probably has some thoughts about this.  Note that this is ... almost ... a part of the disco

[2017-03-03 00:03] ndushay opened #21 "load BF2 casalini data into blazegraph"

[2017-03-03 00:06] ndushay opened #22 "remove BF1 data on remote VMs and blazegraph"
for blazegraph:
- [x] drop namespace and recreate it

for rdf files:
- [x] remove them from /rdf shared dir
- [ ] remove them from ~/data/dw/marcrdf  dir or wherere it is

[2017-03-03 00:19] #8 closed

[2017-03-03 00:22] ndushay opened #23 "Pipeline: Share what we do as background jobs in Rails"
(e.g. rails, activejobs, sidekiq, resque ...)

[2017-03-03 00:23] ndushay opened #24 "Pipeline: share how to use kafka and spark"
- and what it can do for us
  - this LD4P work cycle
  - broader LD4P work
  - DLSS work in general

[2017-03-03 00:36] ndushay opened #25 "ensure BF2 converter is ok with our authority keys"

[2017-03-03 00:53] ndushay opened #26 "discuss: vocabulary (authority, RWO)"

[2017-03-03 00:53] ndushay opened #27 "discuss: RDF using RWOs vs. hasAuthority URIs"

[2017-03-03 00:54] ndushay opened #28 "Discuss control Vocabularies - Authority modelization issues and possible solutions"
- what do we mean by this?
- which things need reconciliation
- when do we need to do reconciliation
- how will we do reconciliation

[2017-03-03 01:32] jgreben commented on #25
[code]

[2017-03-03 01:35] jgreben commented on #25
I took one of the marcxml casalini records and ran it through the bf2 converter. It looks like it is behaving in the same way the BF1 converter worked with regards to our authority URIs, so none of our previous plans (or non-plans) for dealing with these has to change because of the change in BF ontology:

[code]

[2017-03-03 16:33] darrenleeweber opened #29 "Evaluate Blazegraph Reification Done Right (RDR)"
See https://wiki.blazegraph.com/wiki/index.php/Reification_Done_Right

When choosing a namespace, there is an option to choose an RDR mode.  Ask the ontology group about whether the LD4* ontology and/or BF2 will use any reification (to make statements about statements, such as provenance).  If they do, it might be more efficient to use this RDR mode in Blazegraph.

[2017-03-03 16:38] darrenleeweber commented on #22
The `ld4p` namespace was dropped and recreated with these properties (these are provided by the default 'triples' mode):
[code]

When creating a 'triples' mode KB, there are options that can be toggled; all of these were left in their default state (not enabled), i.e.

- [ ] Inference
- [ ] Isolatable indices
- [ ] Full text index
- [ ] Enable geospatial

[2017-03-03 16:49] darrenleeweber commented on #22
Data were removed from /rdf, i.e.
[code]

The data in the test directory was left alone, assuming it is part of some "integration" or deployment test scripts, i.e.
[code]

[2017-03-03 16:55] darrenleeweber commented on #22
Could not find any RDF data outside the /rdf directory, there is no `~/data/` path on the blazegraph-dev box.  (Might be confused with the converter-dev box?)

[2017-03-03 16:55] #22 closed

[2017-03-03 16:59] darrenleeweber commented on #29
Asked for commentary about this on the LD4all_ontology slack channel, see
https://ld4star.slack.com/archives/ld4all_ontology/p1488560184000181

[2017-03-03 17:01] #25 closed

[2017-03-03 17:13] jgreben opened #30 "Evaluate whether the Inferencing capabilities of Blazegraph will meet our future needs"
Talking with @Maatary about this, there was a question whether blazegraph had the inferencing capabilities to do the semantic indexation and semantic querying  that we will need in the future to fully leverage the capabilities of RDF. I found this page on the Blazegraph wiki for evaluation:

https://wiki.blazegraph.com/wiki/index.php/InferenceAndTruthMaintenance

[2017-03-03 17:30] jgreben commented on #14
According to the `bibframe.rdf` ontology:
[code]

[2017-03-03 17:31] darrenleeweber commented on #14
While looking at https://github.com/sul-dlss/ld4p/issues/25 (does the BF2 converter use our MarcXML OK), I started to wonder —  can we confirm whether the BF2 ontology requires these authority URIs to be a RWO or not?  And, if it must be a RWO, do we already have URIs in the correct form for RWO? (i.e. are the VIAF URIs in the correct form for a RWO?  I think VIAF use a trailing slash to different

[2017-03-03 17:34] darrenleeweber commented on #14
Consider whether a bf:Person must be bf:identifiedBy a URI that is a RWO?  My first guess is that they have not placed any range constraints on the bf:identifiedBy other than the generic bf:Identifier.  If so, as noted above, this entity is a generic identifier that could be any kind of identifier (RWO or not).

[2017-03-03 17:51] dlrueda commented on #21
Why is this blocked?  What is blocking it?

[2017-03-03 17:52] dlrueda commented on #15
No longer going to work with BF1

[2017-03-03 17:52] #15 closed

[2017-03-03 17:55] darrenleeweber commented on #14
A `bf:Agent' is a subclass of `foaf:Agent`, so now the question is whether a `foaf:Agent` is a RWO?

[2017-03-03 18:00] darrenleeweber commented on #14
http://xmlns.com/foaf/spec/#term_Agent is not concerned about a distinction between RWO and a catalog record.  So I can't be sure yet whether a bf:Agent is a RWO or not.

[2017-03-03 18:09] ndushay commented on #19
- this should be accomplished by changing `solr.url` type properties in `sw_config.properties`
- you may need to talk to devops folks for sw-solr-g (?) to have access to http://sul-solr.stanford.edu/solr/searchworks-rdf-dev

[2017-03-03 18:38] darrenleeweber commented on #17
There is now a new repo for this.  It was created by first using github to create a new repo and then following their guidelines on how to populate it with an existing repo (using our bf1 repo to start with).  The details on a laptop look like this:

[code]

So, effectively, this copies over all the bf1 repo to the new bf2 repo as the starting point.  We could now split out the additional setup in

[2017-03-03 22:42] Maatary opened #31 "TripleStore Evaluation"

[2017-03-03 22:42] Maatary commented on #31
BlazeGraph, Stardog, GraphDB

[2017-03-03 23:23] dlrueda opened #32 "Convert single record for review then post to triplestore [create RoR app]"
Convert a single record to RDF to get the data into the linked-data ILS/discovery environment. Should be self-service for Tech Service librarians, or automated by Systems staff.

[2017-03-03 23:24] dlrueda commented on #32
Convert a single record to RDF to get the data into the linked-data ILS/discovery environment. Should be self-service for Tech Service librarians, or automated by Systems staff.

[2017-03-03 23:28] dlrueda commented on #32
Josh has current code for a web interface that takes ckey as input, accesses Symphony to dump marc, convert to marcxml, and convert to RDF BF1.  Need to get this working with BF2.

Should decide how can be integrated into current code.  I'd rather NOT just update current code to BF2, wold much rather make it part of what we're doing in the sprint.

For discussion for next sprint.

[2017-03-04 00:42] dlrueda opened #33 "Convert Casalini recs using BF2 converter"
Create script that VM can run to convert our 36K Casalini records using the LoC BF2 converter

[2017-03-04 01:51] darrenleeweber commented on #17
The PR in https://github.com/sul-dlss/ld4p-marcxml-to-bibframe2/issues/2 resolves each of the items noted, i.e.
- [x] have a working test script that can convert a test marcxml file into a test rdfxml file containing the results of running the marc2bibframe2 converter.
- [x] can deploy to converter box with capistrano
- [x] can run test script with capistrano

[2017-03-04 02:54] #17 closed

[2017-03-06 17:49] jgreben commented on #31
Related to #30

[2017-03-06 18:35] jgreben commented on #32
At this point we will not do the post to triplestore part because this would involve reconcilation, and that part has not been worked out yet. For now we will just use the code that exists to display BF2.

[2017-03-06 21:32] jgreben commented on #32
`ld4p-marc21-to-xml` needs to be able to accept an on-the-fly conversion of a single or batch or records.

[2017-03-06 22:55] jgreben commented on #14
The answer to the question is "No." Currently the LoC BF2 converter does not create authorities as RWOs.

[2017-03-06 22:58] #14 closed

[2017-03-07 18:28] jgreben commented on #32
The decision today is to start creating a RoR app to replace the "ckey2bibframe" app that is currently on bodoni. Then we will need to decide how to tap it into the coponent repos for record conversion.

[2017-03-07 18:30] jgreben opened #34 "How do we tap into the component repos for record conversion from the new Ckey2Bibframe RoR app?"

[2017-03-07 18:33] jgreben opened #35 "Investigate how the marc2bibframe2 Active Record Conversion and Metaproxy integration works"
See:
- https://github.com/lcnetdev/marc2bibframe2#active-record-conversion
- https://github.com/lcnetdev/marc2bibframe2#metaproxy-integration

[2017-03-07 21:38] jgreben commented on #35
Compare the `<bf:Agent/>` for each of these processes:

Normal conversion:
[code]

Active Record conversion:
[code]

[2017-03-07 21:41] jgreben commented on #35
One issue is that the record lookup breaks if there is not an exact string match. Trailing punctuation breaks the lookup.

[2017-03-08 01:24] dazza-codes commented on #33
This has been done using the ld4p-tracer-bullet-scripts repo and running the conversions on farmshare.  Additional work is now in progress to transfer the solution into the component repo, i.e. https://github.com/sul-dlss/ld4p-marcxml-to-bibframe2 and to run the conversions on the converter-dev box.

[2017-03-08 02:12] dazza-codes commented on #33
This is blocked by decisions about data directories and enabling file IO on the converter-dev box.  See:
- https://github.com/sul-dlss/ld4p-marcxml-to-bibframe2/issues/6
- slack commentary at https://sul-dlss.slack.com/archives/ld4p-dev/p1488938474000075

[2017-03-08 22:44] shelleydoljack commented on #19
1 MARC file from the recent full dump indexed into sul-solr/searchworks-rdf-dev collection, total 386,705 documents:
https://sul-solr.stanford.edu/solr/searchworks-rdf-dev/select?fq=collection:sirsi&indent=on&q=*:*&wt=json

There were two records that didn't get indexed with an "Async exception during distributed update" error in the log.

[2017-03-08 22:45] #19 closed

[2017-03-08 22:51] shelleydoljack commented on #35
Another issue that was pointed out in our discussion on 3/7 was the question of whether the statements about the id.loc.gov URI can actually be found at that URI. For instance, if one were to go to http://id.loc.gov/authorities/names/n92078314, would one find the triple <bflc:name00MatchKey>Calderón, Emilio</bflc:name00MatchKey> ? Are we creating statements about that URI? Can we create statements

[2017-03-08 23:04] dazza-codes commented on #33
We resolved some blocks by deciding to use somewhat arbitrary directory structure, for now.  This resulted in creating a couple of new shared_configs repos and modification to the converter code deployment to use these config data.  Some issues on this need to be discussed later, which might be done in https://github.com/sul-dlss/operations-tasks/issues/330

The MARC21 to MARC-XML conversion code

[2017-03-09 18:59] dlrueda opened #36 "Investigate BF2->solr mapping"
Use the LD4L1 code as a starting point.

LD4L code is under https://github.com/ld4l/ld4l_browser_data/tree/master/lib/ld4l_browser_data/indexing

Consult Vitus in MD, and whomever else he proposes.

[2017-03-09 19:00] #26 closed

[2017-03-09 23:29] shelleydoljack commented on #36
Working document for gryphon-search and others to contribute:
https://consul.stanford.edu/display/LD4P/Bibframe+2.0+to+Solr+Mapping

[2017-03-10 17:11] #33 closed

[2017-03-10 17:18] dazza-codes opened #37 "Has the Bibframe namespace changed?"
For works in BF1, we use
- `PREFIX bf: <http://bibframe.org/vocab/>`.

When I loaded BF2 data into Blazegraph and searched for works using that prefix, it found nothing.  I then inspected some data and found entries using `<http://id.loc.gov/ontologies/bibframe/Work>`.  Is this correct for BF2?

The MARC was converted to BF2 using https://github.com/lcnetdev/marc2bibframe2, i.e.
- https://github.c

[2017-03-10 17:42] ndushay commented on #12
See https://github.com/ld4l-labs/marc2rdf-validator/issues/25 for more info on what needs to go in Solr.

[2017-03-10 17:48] ndushay commented on #36
This sprung up while I was away.  I think our priority SW "concepts" are documented here https://consul.stanford.edu/display/DLSSDOCS/Minimum+Requirements+for+Non-MARC+Descriptive+Metadata+in+SearchWorks

with some possibly irrelevant addl information here https://github.com/ld4l-labs/marc2rdf-validator/issues/25

[2017-03-10 17:53] jgreben commented on #34
Do we create gems out of the repos to import into the rails app? Do we just include the conversion JAR file and the marc2bibframe2 repo separately, and keep it updated manually as needed?

[2017-03-10 17:54] jgreben commented on #32
Also see questions #34 and https://github.com/sul-dlss/ld4p-marc21-to-xml/issues/25

[2017-03-10 18:01] dlrueda opened #38 "Handle SUL local fields in SW"
We have a mapping of the desired handling Stanford's local marc fields when converted to RDF

https://docs.google.com/spreadsheets/d/1w-kPnC3vaJy52i362p3y2F6ZTAHK770gEjF_AL5Yzuo/edit#gid=401409610

Need to investigate what the straight BF2 conversion did with our local fields, and decide what/how to post- or pre- process to make it display in SW how it needs to.

[2017-03-10 18:02] dlrueda commented on #38
Linked to use case #3 and issue #16
also issue #36

[2017-03-10 18:28] dazza-codes commented on #37
Rebecca Younes confirmed that this namespace change is correct.  She says that LOC have declared this change, by design.  It’s not a bug in the BF2 converter.

The implication is that any code using the previous namespace must be updated to use the new namespace.  In general, code should declare a prefix for it, something like:
- `PREFIX bf: <http://id.loc.gov/ontologies/bibframe/>`

When code def

[2017-03-10 18:30] #37 closed, assigned to dazza-codes

[2017-03-10 18:37] dazza-codes opened #39 "Update SPARQL for BF2 namespace"
_From @darrenleeweber on March 10, 2017 17:22_

The Bibframe namespace may have changed from BF1 to BF2, see
- https://github.com/sul-dlss/ld4p/issues/37

If it has changed, the SPARQL in this project needs to be updated.

_Copied from original issue: sul-dlss/ld4p-marcxml-to-bibframe2#9_

[2017-03-10 18:39] dazza-codes opened #40 "Update test data with BF2 RDF"
_From @darrenleeweber on March 10, 2017 17:21_

The current test data file still contains BF1 data.  Update it with BF2 data.

_Copied from original issue: sul-dlss/ld4p-marcxml-to-bibframe2#8_

[2017-03-10 18:48] dazza-codes commented on #40
This didn't get moved where I want it to go.

[2017-03-10 18:48] #40 closed, assigned to dazza-codes

[2017-03-10 18:50] dazza-codes commented on #39
This did not get moved where I want it to go.

[2017-03-10 18:50] #39 closed, assigned to dazza-codes

[2017-03-10 20:02] dazza-codes commented on #21
The BG-dev box was able to load all new BF2 RDF data, so various discovery work can use it.  There are now 59,952 `bf:Work` in the triple store.

Go to http://sul-ld4p-blazegraph-dev.stanford.edu/blazegraph/#query to explore the data.  For example, issue a query to get all the works, i.e.
[code]

[2017-03-10 20:02] #21 closed

[2017-03-10 22:07] dlrueda opened #41 "Deal with restriction notes for SW"
856 tags often have restriction notes. Need to keep the 856 out of shared triplestore? Or include a restriction note with it?

[2017-03-10 22:07] dlrueda commented on #41
Linked to use case #3 and issue #16
also issue #36

[2017-03-11 01:12] dazza-codes commented on #10
I got the `develop` branch of sparqlite working against my laptop instance of blazegraph.  The README did not work for me out-of-the-box.  I had to first create a new namespace and chose `sparqlite` (with all the defaults for a 'triples' store).  Then run `bundle exec rake secrets` and add that to the `config/secrets.yml` for the `PRODUCTION` environment and then the following worked:
[code]
Then

[2017-03-13 18:48] shelleydoljack commented on #36
There's also this document on required solr fields:
https://consul.stanford.edu/display/NGDE/Required+and+Recommended+Solr+Fields+for+SearchWorks+documents

[2017-03-13 22:18] ndushay opened #42 "Create list of Minimum Viable Solr fields to populate"
Will do at  https://consul.stanford.edu/display/LD4P/Bibframe+2.0+to+Solr+Mapping

Metadata folks need this to focus their efforts to do BF2 -> Solr mapping.

[2017-03-13 22:19] ndushay opened #43 "Mapping from BF2 to SW Solr fields"
(see #42)

https://consul.stanford.edu/display/LD4P/Bibframe+2.0+to+Solr+Mapping

[2017-03-13 22:20] ndushay opened #44 "Create Ruby project to index bf2 to Solr"

[2017-03-13 22:24] ndushay opened #45 "which VM should blazegraph -> Solr code live?"
ask @eefahy

[2017-03-13 22:24] ndushay opened #46 "Do we want to dedup authority info in our triplestore?"

[2017-03-13 22:49] ndushay commented on #45
blazegraph-dev for now

![triples-to-solr-vm](https://cloud.githubusercontent.com/assets/96775/23878433/9ad31730-0804-11e7-97c0-ffca72597795.png)

[2017-03-13 22:50] ndushay commented on #11
What's left:  document a few things in README and in issues.

[2017-03-13 22:53] #16 closed

[2017-03-14 00:14] ndushay opened #47 "upgrade ruby on sul-ld4p-blazegraph-dev"
[code]

[2017-03-14 00:18] ndushay commented on #47
See https://github.com/sul-dlss/operations-tasks/issues/341

[2017-03-14 08:06] ndushay commented on #44
closing in favor of sparql-to-sw-solr  tickets.

[2017-03-14 08:06] #44 closed, assigned to ndushay

[2017-03-14 08:06] #45 closed, assigned to ndushay

[2017-03-14 16:54] #36 closed, assigned to nobody

[2017-03-14 17:14] ndushay opened #48 "pick ~20 BF2 instances to seed our indexing code"
- want a sorting title diff from full title
- want records with 700at if there are any  (for addl authors (?))
- want records with diff 008 byte 6 and 7 values (for diff formats)

send some sample RDFXML to Shelley, along with corresponding marcxml

[2017-03-14 17:35] ndushay opened #49 "finalize validator scope document"
Write up (for LD4P team mtg on LD4All team meeting)

Here's "the validator", when and why it might be useful
- links to marc2rdf validator

2-3 ways we could also do validator and how it could be useful
- chosen solutions below

Note: for old notes, see https://consul.stanford.edu/display/LD4P/LD4P+Test+Suite

[2017-03-14 18:06] jgreben opened #50 "Confirm that the default m2bf2 conversion creates a new URI for the same author on each input record"

[2017-03-14 18:26] dazza-codes commented on #50
We found duplicate Agent data in the Casalini conversions to BF2, using this SPARQL query on the blazegraph-dev box:
[code]

Some of the results, e.g.
[code]

[2017-03-14 18:28] dazza-codes commented on #50
This data was converted one record at a time.  We don't know how the LC-BF2 conversion would work when it's given all the records.  If it had all the records, it might not create duplicate agents.

[2017-03-14 19:01] shelleydoljack opened #51 "ensure the ckey is in the casalini records we convert"
Naomi and I are noticing that the records on the converter box in ld4p/data/marc_xml do not have the ckey in the 001 field. It looks like some have the Casalini record number (it_1234) or the ocn number. Since we want to use the ckey as the instance identifier in bibframe, we need to make sure the catalogdump flag is putting the ckey in the 001 field and the other 001's are removed.

[2017-03-14 20:48] dazza-codes opened #52 "Convert Marc21 to XML for Casalini records with a ckey in 001"
See also #51

[2017-03-14 20:53] jgreben commented on #51
We did a re-dump of the casalini marc records using a similar set of command flags that we use for Searchworks. This dump includes the ckey as the 001 without the `it xxx` or `ocm xxx` and the files are now on the converter-dev box.

[code]
The `old` files could/should be moved to `../marc_archive` or maybe we don’t care about those anymore and we can delete them?

The catalogdump command we are u

[2017-03-14 20:55] #51 closed, assigned to nobody

[2017-03-14 21:02] #47 closed, assigned to eefahy

[2017-03-14 21:50] shelleydoljack commented on #48
Ok, I've gone through the casalini marc records and I think we should index these into the solr instance (ckeys listed by resource type):

Serials:
8596214
10947648
11624640
11682224

Sound recordings:
7907729
9144273  (has 700 $a and $t)
10586419

Maps:
6828286
2650945
10785585
11743826

Scores:
7164326
7164327
11651132

Computer file:
8830687

Visual material:
10415691
2911666

Books:
6828305
54

[2017-03-14 23:03] dazza-codes commented on #52
Done.  The new data was converted (quick checks indicate that all the records were converted OK).  We checked that the ckey is in the XML now (control field 001) and the LOC-BF2 converter should use it in the URIs; e.g.

[code]

[2017-03-14 23:03] #52 closed, assigned to dazza-codes

[2017-03-14 23:03] dazza-codes opened #53 "Convert MarcXML to BF2-RDF for Casalini records with a ckey in 001"

[2017-03-15 00:17] #50 closed, assigned to jgreben

[2017-03-15 02:24] #42 closed, assigned to ndushay

[2017-03-15 02:33] ndushay commented on #12
done here:  https://consul.stanford.edu/display/LD4P/Bibframe+2.0+to+Solr+Mapping

[2017-03-15 02:33] #12 closed

[2017-03-15 05:25] dazza-codes commented on #53
Completed.  There was one error (seems to be only one error), i.e.
[code]

[2017-03-15 16:53] jgreben commented on #10
Sparqlight pretty much connects to blazegraph OOTB, but we would need to do some work to get it to query and index the Bibframe data in our instance of blazegraph. There is a  controller in Sparqlight that is set  up to query a specific example dataset according to that data's ontology. We would need to abstract that controller to work with datasets of differing ontologies (or at least change it t

[2017-03-15 17:00] jgreben commented on #32
Need Java 8 installed on `libsys-webforms-(dev stage prod)`in order for the converter to work on those boxes. I created an issue: https://github.com/sul-dlss/operations-tasks/issues/356

[2017-03-15 17:01] jgreben commented on #35
We will need to discard these statements. From LOC's Nate Trail:
[code]

[2017-03-15 17:47] eefahy commented on #32
Why use the libsys-webforms machines for this? Does it already have a part to play in the ld4p stuff?

[2017-03-16 01:10] dazza-codes commented on #53
These conversions are done.

[2017-03-16 01:10] #53 closed, assigned to dazza-codes

[2017-03-16 01:11] dazza-codes opened #54 "Load BF2-RDF to BG-dev for Casalini records with a ckey in 001"

[2017-03-16 01:12] dazza-codes commented on #54
This data was loaded last night.  We ran some SPARQL queries on it today.

[2017-03-16 01:12] #54 closed, assigned to dazza-codes

[2017-03-16 01:35] ndushay commented on #48
We need to have examples of multiple bf:Instances for a single bf:Work, and multiple bf:Works for a single bf:Instance, too.

[2017-03-16 16:49] shelleydoljack commented on #48
I think these ckeys might have the examples you're looking for.
Ckeys with possible multiple works for a single instance:
11610596 (has linked 880 fields)
10333099
11756782
8089220
9144273

Ckeys with possible multiple instances for a single work. So far I could only find an example with the work in a subject heading. These ckeys all have: 600  00$aDante Alighieri,$d1265-1321.$tDivina commedia.
68

[2017-03-16 22:04] ndushay opened #55 "design (staff) user experience for TB1"
e.g.:  put in a ckey ... see the BF2

also upload a file of ... marc21?  marcxml?   etc.

[2017-03-16 22:11] #9 closed

[2017-03-16 22:13] ndushay commented on #49
meeting scheduled for Tues 3/21 1pm

[2017-03-16 22:21] ndushay opened #56 "let LC have access to our feedback on the BF2 converter"
See #57.   This ticket is about communicating to LC to let them know how we will be doing this.

[2017-03-16 22:23] ndushay opened #57 "create github issues and email Ray for concerns with LC BF2 converter (?)"
The idea is to create a ? google chart ? where developers and metadata folks can describe concerns with the LC BF2 converter (with examples, when possible) and give LC access to this document in progress.

confer with Arcadia and Michelle about this ...

[2017-03-16 23:55] darrenleeweber commented on #54
This data was loaded last night.  We ran some SPARQL queries on it today.

[2017-03-17 16:53] jgreben commented on #32
https://github.com/sul-dlss/libsys-webforms/pull/388

[2017-03-17 16:53] #32 closed

[2017-03-17 17:09] dazza-codes commented on #10
Closing this, as we have explored it and discussed the concerns about using it.  If we need additional work, it will be in new tickets for specific details (perhaps those details will be issues on the sparlite repo itself).

[2017-03-17 17:09] #10 closed

[2017-03-17 17:34] #23 closed

[2017-03-17 17:35] #27 closed

[2017-03-17 17:36] #24 closed

[2017-03-17 19:36] Maatary opened #58 "Enhance Data Pipeline Presentation for DLSS Audience (Refine KAFKA and SPARK Parts )"

[2017-03-17 19:37] Maatary opened #59 "Model SUL LDI Data Pipeline (Include Reconciliation & Review Editor)"
will want a wiki or diagrams or something as an artifact that can be shared with others.

[2017-03-20 23:08] ndushay commented on #20
based on F2F conversation with @eefahy and @cbeer,  RSolr v2.0.0 does retries for 503 and timeouts and uses Faraday, so we're not going this route at this time.  Closing ticket.

[2017-03-20 23:08] #20 closed

[2017-03-21 17:30] shelleydoljack opened #60 "Filter out only book records from Casalini ckeys and catalogdump"

[2017-03-21 17:31] shelleydoljack opened #61 "Convert book format-only Casalini records to bf2"

[2017-03-21 17:37] shelleydoljack commented on #48
Ckeys of RDA book records:
8801141
9633237
10083913
10249086
11111570

[2017-03-21 19:06] Maatary opened #62 "Discuss Reconciliation using PoolParty"

[2017-03-21 20:34] shelleydoljack commented on #60
Actually, there are only 27 records that are not book records. These are the ckeys of the not book records:
2650945
2911666
2911781
2912857
2914708
6828286
7164326
7164327
7907729
8596214
8830687
9144273
9347773
10415691
10576418
10578389
10586419
10727639
10785585
10947648
11624628
11624640
11651132
11682224
11743826
11874840
15007992

[2017-03-21 21:40] ndushay commented on #57
latest (from email and converter call:  put github issue in lcnetdev/marc2bibframe2 and also email Ray with the link to the issue and the text of the issue.

[2017-03-21 21:42] ndushay commented on #60
closing in favor of sul-dlss/sparql_to_sw_solr#10

[2017-03-21 21:42] #60 closed, assigned to nobody

[2017-03-21 21:43] ndushay commented on #61
closing in favor of sul-dlss/sparql_to_sw_solr#10

[2017-03-21 21:43] #61 closed, assigned to nobody

[2017-03-21 22:35] ndushay commented on #49
@jgreben @tomcramer and I met and these are the notes:

![img_1920](https://cloud.githubusercontent.com/assets/96775/24174440/d1da4e5c-0e4d-11e7-923e-41eac4ec112f.JPG)
![img_1921](https://cloud.githubusercontent.com/assets/96775/24174439/d1d91398-0e4d-11e7-96a8-4b8fb81b0aaf.JPG)

Tom marked the following as our (new) proposed deliverables:
- Profile a graph
  - what ontologies are in play?
    - w

[2017-03-22 00:27] ndushay commented on #9
https://sw-webapp-sandbox-e.stanford.edu/

[2017-03-22 00:33] ndushay opened #63 "deploy Searchworks to sw-sandbox-e"
SearchWorks code needs to be deployed to sw-webapp-sandbox-e (See https://github.com/sul-dlss/SearchWorks/pull/1303) and we needed to set the SOLR_URL via puppet.  (See sul-dlss/puppet/pull/1708)

[2017-03-22 00:56] ndushay commented on #63
We have a SearchWorks instance running now;  presumably after puppet PR merged and puppet runs, it will reflect the correct Solr index.

[2017-03-22 21:49] dazza-codes opened #64 "Review LD4L1 work on reconciliation of authorities using linked data services"
Discuss some of the authority linked data conversions used in
- https://github.com/ld4l/marc2linkeddata

Discuss how OCLC linked data services can help to resolve authorities (agents) with OCLC works.  Consider how we can use the OCLC identifiers in catalog records to reconcile instances and works, possibly using OCLC linked data systems to facilitate identification of works in BF2 data.  For exam

[2017-03-22 22:00] dazza-codes opened #65 "How BF2 works are identified or de-duplicated"
- can we leverage OCLC?
  - what fields do they use to reconcile works?
- if so, how?

[2017-03-22 22:01] dazza-codes opened #66 "What is the process to create authorities"
What is the Stanford work flow to create authorities.  How are they submitted to become recognized authorities?

- https://www.loc.gov/aba/pcc/naco/

[2017-03-22 22:50] ndushay commented on #63
... and also had to copy shared_configs from repo_config directory.  All better now.

[2017-03-22 22:51] #63 closed, assigned to ndushay

[2017-03-23 04:38] dazza-codes commented on #64
Also consider the OCLC/VIAF research project to link VIAF with dbpedia, e.g.
- https://github.com/dbpedia/links/tree/master/links/dbpedia.org/viaf.org

Also interesting commentary and code on VIAF (may be outdated now) in these pages:
- https://gist.github.com/nichtich/832052
- https://inkdroid.org/2012/05/15/diving-into-viaf/

[2017-03-24 01:14] dazza-codes commented on #35
From several discussions with @Maatary we concluded that the "active record" lookups are bad data.  That is, given the example above:
[code]

The URI used is not a bf:Agent, or specifically a bf:Person.  When the RDF is retrieved for the URI used, we see that it is a `<http://www.loc.gov/mads/rdf/v1#Authority>`.  That is,
[code]
In this case, the URI that is a `bf:Person` is `<http://id.loc.gov/rw

[2017-03-24 21:05] #28 closed

[2017-03-24 22:04] jgreben opened #67 "Clean up marc2rdf-validator"
- [x] Clean up fixtures
- [x] write hook for m2bf2 converter
- [x] write hook for bib2lod converter
- [x] add more info to README
- [ ] make a video

[2017-03-24 22:05] jgreben commented on #13
We are considering the validator done at this point see ticket #67

[2017-03-24 22:05] #13 closed

[2017-03-24 22:24] jgreben opened #68 "Get a SUL-wide quote for TopBraid Composer Licenses"
Get a recommendation for what we need SUL-wide.

[2017-03-29 23:55] dazza-codes opened #69 "Is the BF2 converter creating unique instances?"
Run the following query on http://sul-ld4p-blazegraph-dev.stanford.edu/blazegraph/#query
[code]

Example response data:
- `<http://ld4p-test.stanford.edu/10083896#Instance>`
  - `<http://ld4p-test.stanford.edu/10083896#Item050-9>`
  - `<http://ld4p-test.stanford.edu/10083896#Agent700-17>`
  - `<http://ld4p-test.stanford.edu/10083896#Agent700-18>`
- `<http://ld4p-test.stanford.edu/10083896#Instance

[2017-03-30 15:32] arcadiafalcone commented on #69
This is expected behavior based on the way the MARC is structured. The Instance#856-25 derives from an 856 field with second indicator 1, representing a link to another version of the resource. In this case the 856 links to a PDF of the table of contents, which is a part of an inferred electronic Instance of the print Instance represented by the URI without the hash. Both print and electronic vers

[2017-03-30 17:32] dazza-codes commented on #69
@arcadiafalcone's analysis indicates the BF2 converter is creating instances correctly.

[2017-03-30 17:32] #69 closed, assigned to dazza-codes

[2017-03-30 17:37] dazza-codes commented on #57
- https://github.com/lcnetdev/marc2bibframe2/issues/11

[2017-03-30 20:48] jgreben commented on #68
We wanted to know what we would need SUL-wide before getting a quote for a single license, unless we know for sure that the cost will jusy be a multiple of the single-client license.

[2017-03-30 20:52] #48 closed, assigned to nobody

[2017-03-30 20:53] #43 closed, assigned to nobody

[2017-03-30 21:12] arcadiafalcone opened #70 "Add Turtle serialization to output of ckey converter app"
Display Turtle in addition to RDF-XML, for easier human review.

[2017-03-30 21:27] dlrueda opened #71 "Do we need inferencing?"
See #16 for some analysis on inferencing for titles

[2017-03-30 22:00] #56 closed, assigned to nobody

[2017-03-30 22:03] #55 closed, assigned to nobody

[2017-03-30 22:04] #57 closed, assigned to ndushay

[2017-04-04 22:18] ndushay commented on #59
out of kafka/spark presentation, which was generic, we want a model for our specific LD4P case.   Currently discussing the issues around symphony ingestion and authority info in symphony.  There also needs to be a reconciliation discussion.

Reconciliation:  besides authority info, need to reconcile work info.

[2017-04-04 22:25] ndushay commented on #65
one of the subtopics of reconciliation

[2017-04-04 22:26] ndushay commented on #65
related to #64, #59

[2017-04-10 15:29] ndushay opened #72 "sparqlight - facet fields like SearchWorks"
Hook up BF2 sparqlight instance so it shows facet fields like the Solr fields we are populating from bibframe data in SearchWorks

[2017-04-10 15:30] ndushay opened #73 "sparqlight - search result fields like SearchWorks"
Hook up BF2 sparqlight instance so it shows search result display fields like the Solr fields we are populating from bibframe data in SearchWorks

[2017-04-10 15:32] ndushay opened #74 "sparqlight - record fields like SearchWorks"
Hook up BF2 sparqlight instance so it shows individual record display fields like the Solr fields we are populating from bibframe data in SearchWorks

[2017-04-10 18:51] ndushay opened #75 "SearchWorks display time live lookup"
Given a ckey, how feasible is it for the RDF data to

1.  take advantage of the existing SearchWorks live lookup in order to display item information
2.  add lookup from SearchWorks to symphony web services in order to display item information

[2017-04-10 21:10] jgreben opened #76 "Document Solr and Stanford::Mods normalization methods"
Document of provide a link to an existing document about how Solr intrinsically handles some punctuation, and also about what `stanford-mods` provides for us in terms of normalization.

[2017-04-10 21:34] ndushay commented on #76
Sadly the documentation is in the stanford-mods code.  :-P

[2017-04-10 22:20] jgreben opened #77 "Better exception messaging for ckey2bibframe"
report something to the user when symphony does not return a marc record on catalogdump

[2017-04-11 18:05] ndushay commented on #75
1.  Per @jkeck, the live lookup code is not straightforward ... and moreover, may be in javascript.    Our RDF sourced data is using the default catalog_controller code and thus probably isn't even triggering the javascript live lookup methods at all.   Plus, unclear if the live lookup code for our marc records is easy to use for a different record display.

Jessie thinks if we went with live look

[2017-04-11 20:07] ndushay opened #78 "update bf2 converter code and rerun marcxml -> bg"
The LC converter code has been updated since we ran our marcxml thru it.  In particular, Arcadia notes "I checked the data currently in blazegraph and it is the older version without the madsrdf:componentList node that separates out the parts of the subject.  this affects the solr mappings for topic_search and topic_facet."  (see #48)

So:

- [x] update converter code in shared directory for marcx

[2017-04-11 22:44] ndushay commented on #78
Reconvert everything;  retain old rdf files (in case we need to reload bg with old data);  add new rdf in different namespace.

Note:  not indexing new data into Solr as part of this issue.  Also, waiting for Naomi to return.

[2017-04-11 23:01] ndushay commented on #49
Next steps for this work:
1.  see #67
2. frame up community needs for validator per pix above (internal discussion, then maybe bring up at converter call on Tues 4/18)
3.  frame up tasks - what would development of useful tools (chosen above) look like?  What would be useful to folks like Nancy ... existing software we can use?

Possibly discuss with other LD4P / LD4L-Labs partners at April meetin

[2017-04-11 23:08] ndushay opened #79 "sparqlight - report on its state (possibly at partners mtg)"
- what it is
- what it was meant to do
- what we tried to do
- demo of it (w/ baked in coin data) - for non-developers
- here's what's needed to make it more generally useful ...

(5-10 min discussion with LD4P partners on thurs)

[2017-04-13 21:34] dazza-codes commented on #65
This SPARQL might help to identify duplicate work URIs, using the identifiedBy values:
[code]

Running this on the Casalini data did not identify any duplicate works.  This is confirmed by this SPARQL because all the result counts for works were 1 and only 1:
[code]

[2017-04-13 21:55] dazza-codes commented on #65
When a MARC record contains data from multiple fields that the converter creates instances from, all the instances are linked to the same work; e.g.
- http://sul-ld4p-blazegraph-dev.stanford.edu/blazegraph/#explore:ld4p:%3Chttp://ld4p-test.stanford.edu/11347283#Work%3E

[code]

[2017-04-13 22:03] dazza-codes commented on #65
This is an example of finding an OCLC number from the 035 field:
[code]

[code]

We can get RDF from OCLC using this identifier, e.g.
[code]

[2017-04-14 20:29] dazza-codes commented on #78
- [x] updated converter code on converter-dev box, using capistrano, i.e.
[code]

[2017-04-14 20:39] dazza-codes commented on #78
- [x] archived the existing RDF data, i.e.
[code]

[2017-04-14 20:46] dazza-codes commented on #78
- [x] reconvert our marcxml to rdf, i.e. replaced data in `/rdf/marc_rdf/`
[code]

[2017-04-14 21:43] dazza-codes commented on #78
- [x] Loading updated RDF into http://sul-ld4p-blazegraph-dev.stanford.edu/blazegraph/namespace/bibframe2_201704/sparql
  - the new Blazegraph namespace `bibframe2_201704` has inference enabled

[2017-04-17 17:10] ndushay opened #80 "can we dump symphony data in a way to get separate subject fields ..."
e.g. splitting subjects (there may be a setting in symphony for export)

[2017-04-17 17:47] ndushay commented on #79
document "here's what is needed to make it more generally useful" for two audiences:

1.  Tom  (non-developer managers assessing it)
2.  developer wanting to use it

[2017-04-17 17:49] dazza-codes opened #81 "Load MARC languages and relator terms in new bg namespace (bf2_201704)"
Load MARC languages and relator terms into the updated bibframe2 namespace:
- http://sul-ld4p-blazegraph-dev.stanford.edu/blazegraph/namespace/bibframe2_201704/sparql

[2017-04-17 17:49] dazza-codes commented on #78
Created new issue to load additional data, https://github.com/sul-dlss/ld4p/issues/81

[2017-04-17 17:49] #78 closed, assigned to nobody

[2017-04-17 21:12] #58 closed, assigned to Maatary

[2017-04-17 21:17] ndushay opened #82 "update registry of tools"
it needs to be:
 - available
  - to approp people
  - up to date
  - fleshed out

[2017-04-17 21:47] ndushay opened #83 "vivo-dev: clear out data and reload it"

[2017-04-17 21:48] ndushay opened #84 "cap: science wire api analysis"
see https://github.com/sul-dlss/sul_pub/issues/171

[2017-04-17 22:04] shelleydoljack commented on #80
Example for ckey 11881853. Somewhere in the conversion process from MARC to BF2, the subfields for the subject headings get replaced with dashes. This means we can't really parse out the components of the heading for SearchWorks facets, such as Region and Era:
[code]

[2017-04-17 22:23] #68 closed, assigned to nobody

[2017-04-17 22:30] ndushay opened #85 "report issues you've noticed with LC BF2 converter"
If you have noticed a problem with the BF2 converter, make a very short note of it here and indicate the issue number when you have reported it at https://github.com/lcnetdev/marc2bibframe2/issues

- [ ] sortTitle is only available as a bflc property?
- [ ] do we really want to preserve the catalog card trailing punctuation in the data?
- [ ] should subTitle be all subfields except 245a ?
- [ ] pe

[2017-04-17 23:35] peetucket commented on #83
I presume the discussion here was around re-importing the user data from CAP into vivo-dev using https://github.com/sul-dlss/cap-vivo-mapper ?

A larger effort would be figuring out how to make this "live" (i.e. direct via the API instead of manually run via a script) and then looking at the same thing for publications (via our own internal sul_pub API), i.e.

https://github.com/sul-dlss/rialto/is

[2017-04-18 00:27] jgreben commented on #83
This issue was originally specifically about fixing the entity URIs so that they were resolvable within `sul-vivo-dev.`  For example, the Resource URI: http://sul-vivo-dev.stanford.edu/individual/n5566 needs to be http://sul-vivo-dev.stanford.edu/vivo/individual/n5566 in order to resolve to the individual's profile. This is true for all `individual` entities within this vivo because I loaded the d

[2017-04-18 23:37] jgreben opened #86 "Update vulnerable sul-vivo-dev dependencies"
This will involve updating the version numbers in the dependencies/pom.xml file of https://github.com/vivo-project/Vitro/tree/maint-rel-1.9 and then doing a `mvn clean install`. Then take the updated jar files and place them on the `sul-vivo-dev` box under the appropriate place in tomcat/webapps/vivo/WEB-INF/..

The newer (good) JARs should be:
commons-collections-3.2.2.jar
commons-fileupload-1.3.

[2017-04-19 15:35] dazza-codes commented on #86
What are the vulnerabilities to be fixed by the proposed changes?  Are they identified and addressed upstream and resolved already?  How do we check that the proposed changes resolve the issue?

[2017-04-19 16:50] dazza-codes commented on #86
`commons-collections` was updated in `develop` in https://github.com/vivo-project/Vitro/commit/ac8f02d006c2b693c781c66df1d0ad664703bd55, trying a `git cherry-pick` to apply that to the `maint-rel-1.9` branch.

[2017-04-19 18:29] julianmorley commented on #86
These look like Mad Gadget fixes - same as the collections-prod issue.

[2017-04-19 18:54] jgreben commented on #86
The `develop` branch of https://github.com/vivo-project/Vitro is currently being worked on (See https://github.com/vivo-project/Vitro/blob/develop/dependencies/pom.xml). Installing this project branch will produce Vitro 1.10 jars that have the new dependency versions bundled.

We can (can we?)  probably wait until this is released and then upgrade? Then we can be more assured that the issue with c

[2017-04-19 19:14] jgreben commented on #86
Here are the advisories:
- https://www.cvedetails.com/cve/CVE-2014-0114/
- http://www.cvedetails.com/cve/CVE-2015-6420/
- https://www.cvedetails.com/vulnerability-list/vendor_id-45/product_id-24746/Apache-Commons-Fileupload.html

[2017-04-19 19:26] dazza-codes commented on #86
Tried to clone and build the project, but that box needs maven installed, i.e.
[code]

[2017-04-19 19:29] dazza-codes commented on #86
I searched for a maven plugin that could check vulnerabilties, a possible solution is listed in the search results, but I don't know how useful it is:
- https://www.owasp.org/index.php/OWASP_Dependency_Check
- http://search.maven.org/#artifactdetails%7Corg.owasp%7Cdependency-check-maven%7C1.4.5%7Cmaven-plugin

[2017-04-19 19:30] julianmorley commented on #86
We already have that installed on jenkinsqa, although I don’t know if the vivo codebase uses it.

[2017-04-19 19:35] kamchan commented on #86
maven is installed and at /usr/local/maven/bin/mvn

[2017-04-19 19:37] dazza-codes commented on #86
OK, got a maven build running.  Please add maven to the path?
[code]

[2017-04-19 19:38] dazza-codes commented on #86
I'll create an issue on the vivo project to consider using it.

[2017-04-19 19:42] dazza-codes commented on #86
Added VIVO https://jira.duraspace.org/browse/VIVO-1322

[2017-04-19 19:43] dazza-codes commented on #86
vivo `develop` branch does not easily build out-of-the-box, i.e.
[code]

[2017-04-19 19:44] dazza-codes commented on #86
Related info about the build is on their wiki at
- https://wiki.duraspace.org/display/VIVODOC19x/Installing+VIVO#InstallingVIVO-GitHubInstallingfromGitHub

[2017-04-19 20:01] dazza-codes commented on #86
Trying to build and install vivo-develop, using their instructions, but that also failed, i.e.
[code]

[2017-04-19 20:19] kamchan commented on #86
vivo 1.9.2 was installed via puppet.  We may need to do an install of 1.9.2-developement separately and keep the 1.9.2 version in place?

[2017-04-19 20:23] ndushay commented on #76
Given the new consul document about SearchWorks indexing:  https://consul.stanford.edu/pages/viewpage.action?pageId=156860714

Can we close this?

[2017-04-19 20:38] kamchan commented on #86
Josh and Erin are deciding to either wait for Cornell official fixe  or clone their development release to maybe see if that dev branch fixes the java issue.  Right now, the dev site is limited to only Stanford.

[2017-04-19 20:47] dazza-codes commented on #86
I'm removing myself from fixing this issue, as the decisions are out of my hands at this point.

[2017-04-19 20:48] jgreben commented on #86
We think that we should just wait until the official 1.10 release. With that release we will get the fix to the vulnerabilities as well as some new features (like linked data fragments) that we heard about at Vivo camp. I will push this issue to the backlog and icebox it until we can move it to a new work queue repo.

[2017-04-19 21:14] jgreben commented on #76
👍 I added a link to the schema.xml file and an additional bullet point.
[code]

[2017-04-19 21:42] dazza-codes commented on #86
This issue has been noted upstream in https://jira.duraspace.org/browse/VIVO-1324

[2017-04-19 23:31] ndushay commented on #76
cool!   Does that mean we can close this issue?  I also added more info on where to look for code in solrmarc-sw.

[2017-04-20 02:03] jgreben commented on #76
I think yes!

Josh

On Apr 19, 2017, at 4:31 PM, Naomi Dushay <notifications@github.com<mailto:notifications@github.com>> wrote:

cool! Does that mean we can close this issue? I also added more info on where to look for code in solrmarc-sw.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/sul-dlss/ld4p/issues/76#issuecomm

[2017-04-20 04:36] dazza-codes commented on #64
We discussed this and related issues of harvesting LOD resources.  We identified that LOD systems will need to expose and maintain reconciliation systems; a possible topic for the LD4* partners is to identify common needs to support reconciliation, both internally and across institutions.  There could be useful collaboration around defining a reconciliation API and related implementation work.

[2017-04-20 04:36] #64 closed, assigned to dazza-codes

[2017-04-20 04:38] dazza-codes commented on #64
A summary of this issue and discussion is now in the wiki at
- https://github.com/sul-dlss/ld4p/wiki/Reconciliation-of-authorities-using-linked-data-services

[2017-04-20 18:30] #76 closed, assigned to jgreben

[2017-04-20 20:59] ndushay commented on #11
closing this as LD4P sprint is ending.

[2017-04-20 20:59] #11 closed

[2017-04-20 21:03] ndushay opened #87 "migrate ld4p-tracer-bullet git repos to sul-dlss-deprecated"

[2017-04-20 21:27] #84 closed, assigned to nobody

[2017-04-20 21:28] #80 closed, assigned to nobody

[2017-04-20 21:29] #62 closed, assigned to Maatary

[2017-04-20 21:54] peetucket commented on #83
so all data was reloaded?

[2017-04-21 00:05] jgreben commented on #83
Moved this issue to https://github.com/sul-dlss/rialto/issues/6

[2017-04-21 20:06] ndushay commented on #49
I did a write up here:  https://github.com/ld4l-labs/marc2rdf-validator/wiki/Validator-Possibilities

[2017-04-21 20:07] #49 closed, assigned to ndushay

[2017-04-21 22:50] dazza-codes commented on #87
Checking details on which repos are to be deprecated and noting where the content has migrated.  Candidates are as follows and a check next to them indicates they are to be deprecated (other repos are to be kept):

- [x] https://github.com/sul-dlss/ld4p-tracer-bullets
  - is the documentation/issues (fully) migrated to https://github.com/sul-dlss/ld4p ?
  - the code has migrated to several other r

[2017-04-22 01:59] dazza-codes commented on #87
Blocked - requires confirmation of details.

[2017-04-24 15:26] dazza-codes commented on #71
The BF2 triples from the converter often contain redundant triples that enumerate the class hierarchy.  As such, no inference is required.  A complete analysis of these redundant triples has not been done to identify whether all the class and property hierarchies are explicit for each entity.  To be sure, enabling inference is preferred, along with adding the relevant ontologies and vocabularies t

[2017-04-24 15:27] #71 closed, assigned to nobody

[2017-04-24 15:46] ndushay commented on #87
Your questions:

- are the issues migrated to other repos?
  there is no bulk way to do this.   I don't believe anyone else is concerned about any issues on these repos;  if you care about any of them, you can check to see if they have been migrated (manually, same as anyone else would be checking) and migrate them.  If you don't care to do that, then go ahead and deprecate the repo and the issues

[2017-04-24 22:57] dazza-codes commented on #79
Adding documentation to https://github.com/sul-dlss/sparqlight/wiki/Sparqlight

[2017-04-26 18:17] dazza-codes commented on #79
Sparqlite using Bibframe 2 is working, in preliminary form in the `bibframe2` branch, i.e.
- https://github.com/sul-dlss/sparqlight/tree/bibframe2

[2017-04-27 23:59] #79 closed, assigned to nobody

[2017-04-28 18:19] dazza-codes commented on #74
First attempt in https://github.com/sul-dlss/sparqlight/tree/bibframe2

[2017-04-28 18:19] dazza-codes commented on #73
First attempt in https://github.com/sul-dlss/sparqlight/tree/bibframe2

[2017-04-28 18:20] dazza-codes commented on #72
First attempt in https://github.com/sul-dlss/sparqlight/tree/bibframe2

[2017-04-28 18:21] dazza-codes commented on #3
See related work in https://github.com/sul-dlss/sparqlight/tree/bibframe2

[2017-05-01 17:57] dazza-codes commented on #87
This is blocked because I need permissions to move repos to deprecated, I get:
` You don’t have the permission to create repositories on sul-dlss-deprecated `

[2017-05-02 01:28] ndushay commented on #87
I don't know if I can give you permission, but I can do the migration if it's ready.

[2017-05-02 17:37] dazza-codes commented on #87
Chris Beer responded to my request to enable access to sul-dlss-deprecated.  It should be OK now, will soon find out.

[2017-05-02 17:47] dazza-codes commented on #87
Migrations:
- [x] https://github.com/sul-dlss-deprecated/ld4p-tracer-bullets
  - [ ] cleanup associated services, like travis, coveralls, gemnasium etc.
- [x] https://github.com/sul-dlss-deprecated/ld4p-marcxml-to-bibframe1
  - [ ] cleanup associated services, like travis, coveralls, gemnasium etc.

[2017-05-05 18:30] dazza-codes commented on #87
I did not understand that once a repo is moved to deprecated that no more commits or activity are allowed.  I wanted to document why they are deprecated and what repos replace them in the README, but that's not possible any longer.  So, I'm not a big fan of the restriction on the deprecated repos.